{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
    <link rel="stylesheet" href="{% static 'aboutstyle.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Personal Information</h1>
        </header>
        <section class="info">
            <div class="item">
                <label class="title green">Name:</label>
                <span class="value">SHAIK AREEF</span>
            </div>
            <div class="item">
                <label class="title orange">Address:</label>
                <span class="value">NELLORE,524004</span>
            </div>
            <div class="item">
                <label class="title blue">Email:</label>
                <span class="value">areefshaik218@gmail.com</span>
            </div>
            <div class="item">
                <label class="title black">Phone:</label>
                <span class="value">7673905734</span>


            </div>
            <dic class="item">
                <label class="title Tomato">D.O.B</label>
                <span class="value">22-01-2002</span>

            </dic>
            <div class="item">
                <label class="title Gray">Short Bio:</label>
                <p class="value">I am a fresher Python developer with foundational skills in MySQL, HTML, and CSS. Having completed over 200 coding problems on GeeksforGeeks, I possess strong problem-solving abilities. Eager to learn and contribute to impactful projects, I am passionate about advancing my skills in programming..</p>
            </div>
        </section>
    </div>
</body>
</html>

