{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
</head>
<body>
    <div class="container" style="background-color:Lavender">
        <header class="header" STYLE="background-color:IndianRed">
            <h1>Contact Me</h1>
        </header>
        <section class="contact-info">


            <ul>
                <li><strong>Email:</strong> <a href="areefshaik218@gmail.com">areefshaik218@gmail.com</a></li>
                <li><strong>Phone:</strong> <a href="tel:+917673905734">7673905734</a></li>
                <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/yourprofile" target="_blank">linkedin</a></li>
                <li><strong>GitHub:</strong> <a href="https://github.com/yourusername" target="_blank">github</a></li>
            </ul>
        </section>
    </div>
</body>
</html>
